<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Web Anime</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/api/random?n=<number>">
          /api/random?n=&lsaquo;number&rsaquo;
        </a>
        <span>get n random anime link</span>
      </li>
      <li>
        <a href="/api/info?id=<id_Anime>">
          /api/info?id=&lsaquo;id_Anime&rsaquo;
        </a>
        <span>get anime link by id</span>
      </li>
    </ul>
  </body>
</html>
